.video-cap-container {
  background-color: rgb(65, 65, 65);
  display: flex;
  flex-direction: column;
  align-items: center;
  .stream-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .controls {
    .btn {
      margin: 0 10px;
    }
  }
  .camera,
  .preview {
    object-fit: fill;
  }
  .camera {
    width: 500px;
    transform: scaleX(-1);
    filter: FlipH;
  }
}

.btn {
  margin-top: 10px;
  background-color: #34495e;
  color: #049161;
  margin: 0 10px;
  min-width: 65px;
  height: 65px;
  border: none;
  border-radius: 50%;
}
